/* Boilerplate code */
* {
    box-sizing: border-box;
}

/* Typography */

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f9f9f9;
}

#nav-bar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    box-shadow: 0px 2px 10px rgba(36,46,76,0.1);
}

.website-title {
    margin: 0;
    font-size: 2rem;
    font-weight: 900;
    transition: width 0.3s;
    text-decoration: none;
    color: black;
    border-bottom: 5px solid tomato;
}

.btn-email {
    display: flex;
    align-items: center;
    border-radius: 40px;
    border: 1px solid #eeeeee;
    width: 40px;
    height: 40px;
    outline: none;
    transition: width .5s ease-in-out;
}

.btn-email:hover {
    cursor: pointer;
    padding: 0 1em;
    width: 294px;
    padding: 0;
    padding-left: 1em;
}

.ic-email {
    margin: 0 auto;
    color: black;
    font-size: 1rem;
}

.email {
    margin: 0 2em 0 1em;
    font-size: 0.8rem;
    color: black;
    display: none;
}

.btn-copy-email {
    background-color: transparent;
    width: 80px;
    height: 100%;
    border: none;
    border-radius: inherit;
    border-left: 1px solid #eeeeee;
    box-shadow: 0px 0px 4px 2px rgba(36,46,76,0.1);
    padding: 0 2em;
    outline: none;
    font-size: .7rem;
    font-weight: 700;
    display: none;
}

.btn-copy-email:hover {
    cursor: pointer;
}

.visible {
    display: block;
}

h1 {
    font-size: 2.25rem;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

.work-content {
    padding: .5em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.description {
    text-align: center;
}

/* Layout */
.work-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5em;
    max-width: 900px;
    margin: 0 auto;
    padding: 2em;
}

.work-item {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;

}

.work-cover-photo {
    object-fit: cover;
    width: 100%;
}

.work-btn-visit-website {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-top: .5em;
    font-size: 1.1rem;
    font-weight: 700;
    padding: .5em 1em;
    background: orangered;
    color: white;
}

.work-btn-visit-website:hover, .work-btn-visit-website:focus {
    cursor: pointer;
    background: darkslateblue;
}


@media (min-width: 600px) {
    .work-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .work-cover-photo {
        width: 100%;
    }
}
