/* Boilerplat */

* {
    box-sizing: border-box;
}

/* Typography */
body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h1, .description, .attribution {
    text-align: center;
    color: white;
}

/* Layout */
.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/bg-mobile.svg');
    padding: 1em 2em;
    justify-content: space-between;
}

.logo {
    width: 50%;
}

.product-mockup {
    margin-top: 3em;
    object-fit: cover;
    width: 100%;
}

.description {
    line-height: 1.8;
}

.btn-register {
    width: 60%;
    background: white;
    padding: 1em;
    border-radius: 24px;
    margin: 0 auto;
    display: block;
    color: hsl(257, 40%, 49%);
    box-shadow: 0 5px 8px -2px rgb(34, 21,100);
    border: none;
}

.btn-register:hover, .btn-register:focus {
    color: white;
    background: salmon;
}

footer {
    margin-top: 3em;
}

.social-container {
    display: flex;
    justify-content: center;
}

.social-icon {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0 .2em;
    border-radius: 50%;
    font-size: 1rem;
    border: 1px solid white;
    color: white;
}

i {
    margin: auto;
}

.attribution { 
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 11px; 
}

.attribution a { 
    color: lightblue; 
}

@media (min-width:600px) {
    main {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .container {
        padding: 3em;
    }

    .logo {
        width: 13%;
    }

    .product-mockup {
        max-width: 50%;
    }

    .content {
        max-width: 50%;
        padding: 3em;
    }

    h1, .description {
        text-align: left;
    }

    .btn-register {
        margin: 0;
        padding: 1.5em 0;
        width: 30%;
    }
}